.details__inner-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    align-items: center;
}


.details__inner-data-wrap {
    display: flex;
    flex-direction: row;

}

