@use "./../../../src/styles/partials/global" as *;
@use "./../../../src/styles/partials/mixins" as *;
@use "./../../../src/styles/partials/variables" as *;


.details {
padding: 0 1rem;

   &__inner-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        // width: 80%;
        align-items: center;
    }  

    &__inner-data-wrap {
        display: flex;
        flex-direction: row;
    
    }

    &__data {
        color:$primary3;
    }
}






// .details__inner-wrapper{
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     margin: 0 auto;
//     width: 80%;
//     align-items: center;
// }


// .details__inner-data-wrap {
//     display: flex;
//     flex-direction: row;

// }

