@use "./../../../src/styles/partials/global" as *;
@use "./../../../src/styles/partials/mixins" as *;
@use "./../../../src/styles/partials/variables" as *;

.list-section {
  @include desktop {
    width: 27rem;
  }
}

.list {
  list-style-type: none;
  padding: 0 1rem 0 1rem;

  @include desktop {
    padding: 2rem 1rem 0 2rem;
  }

  &__label {
    color: $primary3;
    margin: 0rem 0 1.5rem 0;
    display: inline-block;
  }

  &__details {
    margin: -1rem 0 0 1rem;
  }

  &__item-image {
    width: 7.687rem;
    height: 75px;
    object-fit: cover;
    min-width: 123px;
    border-radius: 4px;
    margin-bottom: 1rem;
    background: $second3;
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $second1;
  }

  &__item {
    padding: 0 1rem 0 0;
  }

  .active {
    background: $primary4;
    opacity: 0.5;
  }

  .list__item-wrap {
    display: flex;
  }
}

.list__title {
  color: $second1;
}

.list__channel {
  color: $second1;
}
