.list {
   list-style-type: none;

    &__item-image {
        width:   20rem;   
    }

    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;

    }

    &__item {
        padding: 0 1rem 0 0;
    }

    .active {
        background: beige;
        opacity: .5;
    }
}


// .details__inner-wrapper{
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     margin: 0 auto;
//     width: 80%;
//     align-items: center;
// }


// .details__inner-data-wrap {
//     display: flex;
//     flex-direction: row;

// }

.list__item-image {
    width: 123px;
    height: 68px;
    object-fit: cover; /* Ensures the image covers the area, may crop some parts */
}
