@use "./../../../src/styles/partials/global" as *;
@use "./../../../src/styles/partials/mixins" as *;
@use "./../../../src/styles/partials/variables" as *;

.full-width-video {
  width: 100%;
  height: auto;

  @include tablet {
    background-color: $second1;
    width: 90%;
    display: flex;
    margin: 0 auto;
  }

  @include desktop {
    background-color: $second1;
    width: 87%;
  }
}

.video-section {
  background: $second1;
}
