$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// BrainFlix-Black
$primary1:#323232;
// BrainFlix-Blue
$primary2:#0095FF;
// Silver
$primary3:#AFAFAF;
// White
$primary4:#FFFFFF;
// BrainFlix-DarkBlack
$second1:#000000 ;
// BrainFlix-DarkBlue
$second2:#0065AD;
// Mercury
$second3:#E1E1E1;
// Alabaster
$second4:#FAFAFA;

$primary-font: 'Avenir Next', sans-serif;
$bold-font: 'Avenir Next Bold', sans-serif;
