@use "./../src/styles/partials/global" as *;
@use "./../src/styles/partials/mixins" as *;
@use "./../src/styles/partials/variables" as *;

.app-wrap {
  display: flex;
  flex-direction: column;

  @include tablet {
    padding: 0 2.25rem;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    padding: 0 3.9375rem;
  }

  &__border-right {
    @include desktop {
      border-right: 1px solid $second3;
    }
  }
}
